Repository Drakeze/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix --max-warnings=0, bunx prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["bunx eslint --fix --max-warnings=0"],
  "*.{json,md,mdx,css,scss,html}": ["bunx prettier --write"]
}

Add CI workflow (lint, type-check, test, build on push/PR)
  .github/workflows/ci.yml
Due: none

Vercel link housekeeping: gitignore .vercel/ and .env* (already covered, kept for tooling parity)
  .gitignore
Due: none

Widen post layout and rebuild homepage as a card grid
  app/(public)/layout.tsx
  components/site/post-list.tsx
Due: bunx eslint --fix --max-warnings=0

up
  bun.lock
  package.json
Due: bunx prettier --write

Replace em dashes with plain hyphens in site copy and seed data
  app/(public)/[slug]/page.tsx
  app/admin/posts/page.tsx
  app/layout.tsx
  scripts/check-legacy-posts.ts
  scripts/seed.ts
  scripts/strip-em-dashes.ts
Due: bunx eslint --fix --max-warnings=0

Fix strip-em-dashes: use $regex string, not RegExp literal
  scripts/strip-em-dashes.ts
Due: bunx eslint --fix --max-warnings=0

Color tag filter pills to match post tag colors
  components/site/tag-bar.tsx
Due: bunx eslint --fix --max-warnings=0

Update bun.lock
  bun.lock
Due: none

Use DrakezeWind avatar as the header brandmark icon
  components/site/brandmark.tsx
  public/DrakezeWind.png
Due: bunx eslint --fix --max-warnings=0

update
  bun.lock
  package.json
Due: bunx prettier --write

Replace app/icon.svg favicon with public/icon.svg
  app/icon.svg
  public/icon.svg
Due: none

Update RSS feed description
  app/feed.xml/route.ts
Due: bunx eslint --fix --max-warnings=0

Temporarily log resolved DB name for production debugging
  lib/mongo.ts
Due: bunx eslint --fix --max-warnings=0

Revert temporary DB-name debug logging
  lib/mongo.ts
Due: bunx eslint --fix --max-warnings=0

Only require excerpt when publishing, not for drafts
  components/admin/post-editor.tsx
  lib/domains/posts/service.ts
  lib/domains/posts/types.ts
  lib/domains/posts/validators.ts
Due: bunx eslint --fix --max-warnings=0

chore: bump dependency versions
  bun.lock
  package.json
Due: bunx prettier --write

Use brain-bubble.svg as site icon
  app/layout.tsx
  public/brain-bubble.svg
  public/icon.svg
Due: bunx eslint --fix --max-warnings=0
