Repository Drakeze/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix --max-warnings=0, bunx prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["bunx eslint --fix --max-warnings=0"],
  "*.{json,md,mdx,css,scss,html}": ["bunx prettier --write"]
}

(delete Prisma and backend)
  src/app/api/admin/auth/route.ts
  src/app/api/admin/ingest/route.ts
  src/app/api/health/route.ts
  src/app/api/posts/route.ts
  src/app/api/social/linkedin/route.ts
  src/app/api/social/patreon/route.ts
  src/app/api/social/reddit/route.ts
  src/app/api/social/twitter/route.ts
  src/app/api/subscribe/route.ts
  src/data/posts.ts
  src/lib/ingest/index.ts
  src/lib/ingest/linkedin.ts
  src/lib/ingest/patreon.ts
  src/lib/ingest/reddit.ts
  src/lib/ingest/twitter.ts
  src/lib/ingest/types.ts
  src/lib/ingest/utils.ts
  src/lib/mongo.ts
  src/lib/prisma.ts
Due: bunx eslint --fix --max-warnings=0

Remove legacy backend auth and prisma code
  src/app/admin/layout.tsx
  src/app/api/posts/route.ts
  src/data/posts.ts
  src/lib/auth.ts
Due: bunx eslint --fix --max-warnings=0

(feat) : MongoDB install
  bun.lock
  package.json
  src/lib/mongo.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

delete : prisma delete
  bun.lock
  package.json
Due: bunx prettier --write

Remove unused public assets and update metadata
  public/apple-icon.png
  public/icon-dark-32x32.png
  public/icon-light-32x32.png
  public/icon.svg
  public/vercel.svg
  src/app/layout.tsx
  src/app/subscribe/page.tsx
  src/public/ai-coding-assistant.jpg
  src/public/apple-icon.png
  src/public/design-system-components.png
  src/public/icon-dark-32x32.png
  src/public/icon-light-32x32.png
  src/public/icon.svg
  src/public/modern-web-development-abstract.jpg
  src/public/modern-web-development.png
  src/public/placeholder-logo.png
  src/public/placeholder-logo.svg
  src/public/placeholder-user.jpg
  src/public/placeholder.jpg
  src/public/placeholder.svg
  src/public/react-server-components.png
  src/public/typescript-code.png
  src/public/website-performance-metrics.jpg
Due: bunx eslint --fix --max-warnings=0

Update next-env.d.ts
  next-env.d.ts
Due: bunx eslint --fix --max-warnings=0

Add social integration endpoints and post sync logic
  TEST-README.md
  next-env.d.ts
  src/app/api/integrations/linkedin/route.ts
  src/app/api/integrations/patreon/route.ts
  src/app/api/integrations/reddit/route.ts
  src/app/api/integrations/twitter/route.ts
  src/data/posts.ts
  src/lib/social/linkedin.ts
  src/lib/social/patreon.ts
  src/lib/social/reddit.ts
  src/lib/social/twitter.ts
  src/models/BlogPost.ts
  test-apis.ps1
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Update mongoose and @types/react dependencies
  bun.lock
  package.json
Due: bunx prettier --write

Update bun.lock
  bun.lock
Due: none

(feat): Bun update
  bun.lock
  package.json
Due: bunx prettier --write

Refactor post types and pagination UI
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/layout.tsx
  src/components/admin/PostTable.tsx
  src/components/blog-card.tsx
  src/components/blog-collection.tsx
  src/components/blog-grid.tsx
  src/data/posts.ts
  src/lib/prisma.ts
Due: bunx eslint --fix --max-warnings=0

Add admin login and logout functionality
  AGENTS.md
  bun.lock
  package.json
  src/app/admin/layout.tsx
  src/app/admin/login/layout.tsx
  src/app/admin/login/page.tsx
  src/app/api/admin/auth/logout/route.ts
  src/components/admin/AdminLayout.tsx
  src/components/admin/LogoutButton.tsx
  test-apis.ps1
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(fix): module updates
  bun.lock
  package-lock.json
  package.json
Due: bunx prettier --write

Add IntegrationSync component and test endpoints
  bun.lock
  eslint.config.mjs
  package.json
  src/app/admin/create/page.tsx
  src/app/admin/edit/[id]/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/admin/posts/page.tsx
  src/components/admin/IntegrationSync.tsx
  src/lib/auth.ts
  test-endpoints.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

bun update
  TEST-README.md
  bun.lock
  package.json
  test-endpoints.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(fix): warp diagnostic
  .eslintrc.js
  AGENTS.md
  bun.lock
  eslint.config.mjs
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(fix): eslint updates
  .eslintrc.js
  bun.lock
  lib/mongo.ts
  lib/prisma.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Polish blog UI, update routes and types
  app/blog/page.tsx
  app/subscribe/page.tsx
  components/blog-footer.tsx
  components/blog-header.tsx
  components/blog-hero.tsx
  next-env.d.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(feat): UI
  app/globals.css
  bun.lock
  package.json
Due: bunx prettier --write

Integrate react-query providers & client fetches
  app/admin/posts/page.tsx
  app/api/integrations/reddit/route.ts
  app/layout.tsx
  app/providers.tsx
  app/subscribe/page.tsx
  bun.lock
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Add DailyDev and improve LinkedIn/Patreon routes
  .env.example
  app/api/integrations/dailydev/route.ts
  app/api/integrations/linkedin/route.ts
  app/api/integrations/patreon/route.ts
  lib/social/dailydev.ts
  models/BlogPost.ts
  prisma/schema.prisma
Due: bunx eslint --fix --max-warnings=0

Finalize integration gating and publishedAt sorting
  app/admin/layout.tsx
  app/api/integrations/dailydev/route.ts
  app/api/integrations/linkedin/route.ts
  app/api/integrations/patreon/route.ts
  app/api/integrations/reddit/route.ts
  app/api/integrations/twitter/route.ts
  components/admin/AdminProviders.tsx
  components/admin/IntegrationSync.tsx
  data/posts.ts
  lib/env.ts
  lib/social/dailydev.ts
  lib/social/linkedin.ts
  lib/social/patreon.ts
  lib/social/reddit.ts
  models/BlogPost.ts
  package.json
  prisma/schema.prisma
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(fix): tankstack fix admin
  bun.lock
  components/admin/IntegrationSync.tsx
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(fix): backlogs
  data/posts.ts
  lib/social/patreon.ts
Due: bunx eslint --fix --max-warnings=0

fix
  bun.lock
  bun.lockb
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: bunx prettier --write

Improve Bun/Vercel readiness and content integration scaffolding
  .env.example
  .eslintrc.js
  app/admin/login/page.tsx
  app/admin/posts/page.tsx
  app/api/integrations/dailydev/route.ts
  app/api/integrations/patreon/route.ts
  app/blog/[slug]/page.tsx
  components/admin/PostEditor.tsx
  components/blog-card.tsx
  components/blog-header.tsx
  components/theme-provider.tsx
  components/ui/sidebar.tsx
  components/ui/use-toast.ts
  data/posts.ts
  data/subscribers.ts
  lib/env.ts
  lib/mongo.ts
  lib/prisma.ts
  lib/social/dailydev.ts
  models/BlogPost.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

bun update
  bun.lock
  package.json
Due: bunx prettier --write

(learn): Setup for database
  app/layout.tsx
  bun.lock
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

(feat): Postman
  postman/collections/Patreon.postman_collection.json
Due: bunx prettier --write

(postman) rework
  postman/collections/Patreon.postman_collection.json
  postman/collections/Patreon/.resources/definition.yaml
  postman/collections/Patreon/https-www.patreon.com-api-oauth2-api-current_user.request.yaml
  postman/collections/Patreon/{{baseUrl}}-api-health.request.yaml
  postman/environments/Dev.env.yaml
Due: bunx prettier --write

Update Dev.env.yaml
  postman/environments/Dev.env.yaml
Due: none

Post delete
  postman/collections/Patreon/.resources/definition.yaml
  postman/collections/Patreon/https-www.patreon.com-api-oauth2-api-current_user.request.yaml
  postman/collections/Patreon/{{baseUrl}}-api-health.request.yaml
  postman/environments/Dev.env.yaml
Due: none

Bun update
  bun.lock
  package.json
Due: bunx prettier --write

Replace admin auth with Clerk and lock down integrations
  AGENTS.md
  README.md
  app/admin/create/page.tsx
  app/admin/edit/[id]/page.tsx
  app/admin/login/page.tsx
  app/admin/page.tsx
  app/admin/posts/[id]/edit/page.tsx
  app/admin/posts/page.tsx
  app/api/admin/auth/logout/route.ts
  app/api/admin/auth/route.ts
  app/api/integrations/dailydev/route.ts
  app/api/integrations/linkedin/route.ts
  app/api/integrations/patreon/route.ts
  app/api/integrations/reddit/route.ts
  app/api/integrations/twitter/route.ts
  app/api/posts/[id]/route.ts
  app/api/posts/route.ts
  app/blog/[slug]/page.tsx
  app/layout.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  bun.lock
  components/admin/AdminLayout.tsx
  components/admin/IntegrationSync.tsx
  components/admin/LogoutButton.tsx
  components/admin/PostEditor.tsx
  components/blog-header.tsx
  lib/auth.ts
  lib/env.ts
  lib/render-post-content.ts
  next-env.d.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Finalize blog v1 with Reddit-only integration and hardened admin workflow
  .env.example
  README.md
  app/admin/page.tsx
  app/api/integrations/dailydev/route.ts
  app/api/integrations/linkedin/route.ts
  app/api/integrations/patreon/route.ts
  app/api/integrations/twitter/route.ts
  app/api/posts/route.ts
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  components/admin/AdminTableActions.tsx
  components/admin/IntegrationSync.tsx
  components/admin/PostEditor.tsx
  components/admin/PostTable.tsx
  components/blog-card.tsx
  components/blog-filters.tsx
  components/blog-grid.tsx
  data/posts.ts
  eslint.config.mjs
  lib/env.ts
  lib/social/dailydev.ts
  lib/social/linkedin.ts
  lib/social/patreon.ts
  lib/social/twitter.ts
  models/BlogPost.ts
  package.json
  prisma/schema.prisma
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

test
  bun.lock
  next-env.d.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write
