Repository Drakeze/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix --max-warnings=0, bunx prettier --write

Finalize subscribe flow, starter posts fallback, and Reddit sync diagnostics
  .env.example
  README.md
  app/api/integrations/reddit/route.ts
  app/api/subscribe/route.ts
  app/api/subscribers/route.ts
  app/subscribe/page.tsx
  components/admin/IntegrationSync.tsx
  components/blog-hero.tsx
  data/posts.ts
  data/starter-posts.ts
  data/subscribers.ts
  lib/social/reddit.ts
  prisma/schema.prisma
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Clerk Change and simple fixes
  app/subscribe/page.tsx
  bun.lock
  middleware.ts
Due: bunx eslint --fix --max-warnings=0

Update next-env.d.ts
  next-env.d.ts
Due: bunx eslint --fix --max-warnings=0

Finalize blog, admin, and newsletter systems for production
  .env.example
  README.md
  app/admin/page.tsx
  app/admin/subscribers/page.tsx
  app/admin/unauthorized/page.tsx
  app/api/health/route.ts
  app/api/integrations/reddit/route.ts
  app/api/posts/route.ts
  app/api/subscribe/route.ts
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  app/subscribe/page.tsx
  components/admin/AdminLayout.tsx
  components/admin/IntegrationSync.tsx
  components/admin/LogoutButton.tsx
  components/blog-card.tsx
  components/blog-header.tsx
  components/blog-hero.tsx
  data/posts.ts
  data/subscribers.ts
  docs/system-notes.md
  eslint.config.mjs
  lib/auth.ts
  lib/email.ts
  lib/env.ts
  lib/mongo.ts
  lib/render-post-content.ts
  lib/social/reddit.ts
  next-env.d.ts
  next.config.mjs
  next.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  proxy.ts
  public/placeholder.svg
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Update PostEditor.tsx
  components/admin/PostEditor.tsx
Due: bunx eslint --fix --max-warnings=0

Add server-side Reddit posts endpoint and blog preview
  app/api/reddit/posts/route.ts
  app/blog/page.tsx
  lib/social/reddit-blog.ts
Due: bunx eslint --fix --max-warnings=0

update
  bun.lock
  package.json
Due: bunx prettier --write

Update bun.lock
  bun.lock
Due: none

Fix layout hydration and align Reddit section card UI
  app/blog/page.tsx
  app/layout.tsx
Due: bunx eslint --fix --max-warnings=0

Add Prisma blog data layer and local schema mirror
  README.md
  lib/prisma.ts
  prisma/schema.prisma
  src/lib/db.ts
  src/lib/posts.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Refactor DB/collections, add error pages & Clerk
  .env.example
  app/admin/layout.tsx
  app/global-error.tsx
  app/layout.tsx
  app/not-found.tsx
  app/providers.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  data/subscribers.ts
  lib/env.ts
  lib/mongo.ts
  models/BlogPost.ts
  next-env.d.ts
  package.json
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Add email-delivery UI, update ESLint config
  .eslintrc.js
  app/admin/create/page.tsx
  app/admin/edit/[id]/page.tsx
  app/admin/page.tsx
  app/api/posts/route.ts
  app/blog/page.tsx
  app/global-error.tsx
  app/layout.tsx
  app/not-found.tsx
  components/admin/PostEditor.tsx
  eslint.config.mjs
  lib/email.ts
  next-env.d.ts
  package-lock.json
  package.json
  scripts/seed.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

pics
  public/Minecraft Pfp 1.png
  public/pen.png
Due: none

Update layout.tsx
  app/layout.tsx
Due: bunx eslint --fix --max-warnings=0

Update blog-footer.tsx
  components/blog-footer.tsx
Due: bunx eslint --fix --max-warnings=0

bun
  bun.lock
  package.json
Due: bunx prettier --write

Add metadata, navigation & UI tweaks to blog
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  app/subscribe/page.tsx
  bun.lock
  components/author-bio.tsx
  components/blog-card.tsx
  components/blog-collection.tsx
  components/blog-footer.tsx
  components/blog-hero.tsx
  components/icons/social.tsx
  data/posts.ts
  lib/prisma.ts
  lib/render-post-content.ts
  next.config.ts
  package.json
  prisma/schema.prisma
  src/lib/db.ts
  src/lib/posts.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Create middleware.ts
  middleware.ts
Due: bunx eslint --fix --max-warnings=0

UI tweaks, dev admin bypass, strip post title
  app/blog/[slug]/page.tsx
  app/page.tsx
  components/admin/AdminLayout.tsx
  components/blog-hero.tsx
  lib/auth.ts
  lib/render-post-content.ts
Due: bunx eslint --fix --max-warnings=0

bun updates
  bun.lock
  package.json
Due: bunx prettier --write

Update carousel.tsx
  components/ui/carousel.tsx
Due: bunx eslint --fix --max-warnings=0

Refactor blog layout and add social icons
  app/blog/[slug]/page.tsx
  app/subscribe/page.tsx
  components/author-bio.tsx
  components/blog-footer.tsx
  components/icons/social.tsx
Due: bunx eslint --fix --max-warnings=0

Refactor PostEditor, UI tweaks, remove Reddit fetch
  app/api/reddit/posts/route.ts
  app/blog/page.tsx
  app/globals.css
  app/layout.tsx
  bun.lock
  components/admin/PostEditor.tsx
  components/blog-card.tsx
  components/blog-collection.tsx
  components/blog-filters.tsx
  components/blog-hero.tsx
  global.d.ts
  lib/mongo.ts
  lib/social/reddit-blog.ts
  models/BlogPost.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Add image upload API, editor UI & footer links
  .env.local.example
  .gitignore
  app/(public)/blog/[slug]/page.tsx
  app/(public)/layout.tsx
  app/api/upload/route.ts
  components/admin/post-editor.tsx
  components/navbar.tsx
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0

Add Bookmarks page; update links and images
  app/(public)/bookmarks/page.tsx
  app/(public)/page.tsx
  components/admin/post-editor.tsx
  components/comments-section.tsx
  components/navbar.tsx
  components/post-card.tsx
Due: bunx eslint --fix --max-warnings=0

Update providers.tsx
  app/providers.tsx
Due: bunx eslint --fix --max-warnings=0

Add health endpoint; refactor env & auth
  app/api/health/route.ts
  app/api/upload/route.ts
  app/globals.css
  app/layout.tsx
  app/providers.tsx
  bun.lock
  lib/auth.ts
  lib/env.ts
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Update navbar.tsx
  components/navbar.tsx
Due: bunx eslint --fix --max-warnings=0

Image for the email temps
  lib/email.ts
Due: bunx eslint --fix --max-warnings=0

Add unsubscribe flow and reply notifications
  app/(public)/blog/[slug]/page.tsx
  app/(public)/unsubscribe/page.tsx
  app/(public)/unsubscribe/unsubscribe-card.tsx
  app/api/comments/[id]/route.ts
  app/api/comments/route.ts
  app/api/newsletter/send/route.ts
  app/api/posts/route.ts
  app/api/subscribers/unsubscribe/route.ts
  bun.lock
  components/comments-section.tsx
  components/post-card.tsx
  emails/comment-notification.tsx
  emails/newsletter.tsx
  lib/email.ts
  lib/utils.ts
  models/comment.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

added analytics
  app/layout.tsx
  package-lock.json
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Migrate image uploads from local filesystem to Cloudflare R2
  .env.example
  app/api/upload/route.ts
  bun.lock
  lib/env.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Fix Vercel build failures from missing exports and ESLint error
  app/api/posts/draft/route.ts
  lib/auth.ts
  lib/email.ts
  lib/env.ts
  lib/mongo.ts
Due: bunx eslint --fix --max-warnings=0

Add R2 image migration script for existing posts
  scripts/migrate-images-to-r2.ts
Due: bunx eslint --fix --max-warnings=0

Fix duplicate $ne keys in migration script query
  scripts/migrate-images-to-r2.ts
Due: bunx eslint --fix --max-warnings=0

Path conditions:
  bunx eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  bunx prettier --write: any of: *.{json,md,mdx,css,scss,html}
