Repository Drakeze/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix --max-warnings=0, bunx prettier --write

test
  .husky/pre-commit
  .husky/pre-push
  src/app/api/posts/route.ts
Due: bunx eslint --fix --max-warnings=0

update
  bun.lock
  next-env.d.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

test
  bun.lock
  next-env.d.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Update next-env.d.ts
  next-env.d.ts
Due: bunx eslint --fix --max-warnings=0

(fix) bun install
  bun.lock
  tsconfig.json
Due: bunx prettier --write

Align app structure with new mockup
  src/app/about/page.tsx
  src/app/admin/create/page.tsx
  src/app/admin/edit/[id]/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/loading.tsx
  src/app/admin/page.tsx
  src/app/admin/posts/create/page.tsx
  src/app/admin/posts/new/page.tsx
  src/app/admin/posts/page.tsx
  src/app/api/contact/route.ts
  src/app/api/linkedin/route.ts
  src/app/api/linkedin/share/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/api/reddit/route.ts
  src/app/api/social/route.ts
  src/app/api/twitter/route.ts
  src/app/api/twitter/share/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/admin/AdminAuth.tsx
  src/components/admin/AdminHeader.tsx
  src/components/admin/AdminSidebar.tsx
  src/components/admin/PostEditor.tsx
  src/components/admin/PostTable.tsx
  src/components/admin/SocialBadgeInput.tsx
  src/components/blog-card.tsx
  src/components/blog-collection.tsx
  src/components/blog-filters.tsx
  src/components/blog-grid.tsx
  src/components/blog-header.tsx
  src/data/posts.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Complete navigation and admin workflows
  src/app/about/page.tsx
  src/app/admin/create/page.tsx
  src/app/admin/edit/[id]/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/loading.tsx
  src/app/admin/page.tsx
  src/app/admin/posts/[id]/edit/page.tsx
  src/app/admin/posts/create/page.tsx
  src/app/admin/posts/new/page.tsx
  src/app/admin/posts/page.tsx
  src/app/api/contact/route.ts
  src/app/api/linkedin/route.ts
  src/app/api/linkedin/share/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/api/reddit/route.ts
  src/app/api/social/route.ts
  src/app/api/subscribe/route.ts
  src/app/api/twitter/route.ts
  src/app/api/twitter/share/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/subscribe/page.tsx
  src/components/admin/AdminAuth.tsx
  src/components/admin/AdminHeader.tsx
  src/components/admin/AdminSidebar.tsx
  src/components/admin/PostEditor.tsx
  src/components/admin/PostTable.tsx
  src/components/admin/SocialBadgeInput.tsx
  src/components/blog-card.tsx
  src/components/blog-collection.tsx
  src/components/blog-filters.tsx
  src/components/blog-grid.tsx
  src/components/blog-header.tsx
  src/data/posts.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Harden data model and subscription flows
  src/app/about/page.tsx
  src/app/admin/create/page.tsx
  src/app/admin/edit/[id]/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/loading.tsx
  src/app/admin/page.tsx
  src/app/admin/posts/[id]/edit/page.tsx
  src/app/admin/posts/create/page.tsx
  src/app/admin/posts/new/page.tsx
  src/app/admin/posts/page.tsx
  src/app/api/contact/route.ts
  src/app/api/linkedin/route.ts
  src/app/api/linkedin/share/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/api/reddit/route.ts
  src/app/api/social/route.ts
  src/app/api/subscribe/route.ts
  src/app/api/twitter/route.ts
  src/app/api/twitter/share/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/subscribe/page.tsx
  src/components/admin/AdminAuth.tsx
  src/components/admin/AdminHeader.tsx
  src/components/admin/AdminSidebar.tsx
  src/components/admin/PostEditor.tsx
  src/components/admin/PostTable.tsx
  src/components/admin/SocialBadgeInput.tsx
  src/components/blog-card.tsx
  src/components/blog-collection.tsx
  src/components/blog-filters.tsx
  src/components/blog-grid.tsx
  src/components/blog-header.tsx
  src/data/posts.ts
  src/data/storage.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Polish UI spacing and typography
  src/app/admin/create/page.tsx
  src/app/admin/page.tsx
  src/app/admin/posts/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/subscribe/page.tsx
  src/components/admin/PostEditor.tsx
  src/components/admin/PostTable.tsx
  src/components/blog-card.tsx
  src/components/blog-collection.tsx
  src/components/blog-filters.tsx
  src/components/blog-grid.tsx
  src/components/blog-header.tsx
  src/components/blog-hero.tsx
  src/styles/globals.css
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Title work
  src/app/layout.tsx
  src/app/subscribe/page.tsx
  src/components/blog-footer.tsx
  src/components/blog-header.tsx
Due: bunx eslint --fix --max-warnings=0

(feat) Tiltles
  src/app/blog/page.tsx
  src/app/subscribe/page.tsx
  src/components/blog-collection.tsx
  src/components/blog-hero.tsx
Due: bunx eslint --fix --max-warnings=0

(feat) patreon add on
  next-env.d.ts
  src/components/blog-footer.tsx
Due: bunx eslint --fix --max-warnings=0

Refine posts API and validation
  src/app/admin/layout.tsx
  src/app/admin/posts/create/page.tsx
  src/app/api/admin/auth/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/components/ui/toaster.tsx
  src/components/ui/use-mobile.tsx
  src/data/posts.ts
  src/hooks/use-toast.ts
  src/lib/auth.ts
Due: bunx eslint --fix --max-warnings=0

Add env validation and admin scaffolding
  .env.example
  src/app/admin/create/page.tsx
  src/app/admin/edit/[id]/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/admin/posts/create/page.tsx
  src/app/admin/posts/page.tsx
  src/app/api/admin/auth/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/blog/[slug]/page.tsx
  src/components/admin/AdminLayout.tsx
  src/components/admin/AdminTableActions.tsx
  src/components/admin/BackButton.tsx
  src/components/admin/PostEditor.tsx
  src/components/admin/PostTable.tsx
  src/components/admin/StatusBadge.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-mobile.tsx
  src/config/social.ts
  src/data/ingestion.ts
  src/data/posts.ts
  src/hooks/use-toast.ts
  src/lib/auth.ts
  src/lib/env.ts
Due: bunx eslint --fix --max-warnings=0

(feat): API and Admin
  .gitignore
  next-env.d.ts
  src/app/subscribe/page.tsx
  src/lib/auth.ts
Due: bunx eslint --fix --max-warnings=0

(remove) the old setup files
  PR_SUMMARY.md
  REFACTOR_PLAN.md
  TODO_IMPROVEMENTS.md
Due: bunx prettier --write

Fix React Server Components CVE vulnerabilities
  package.json
Due: bunx prettier --write

Add social ingestion scaffolding and routes
  src/app/api/admin/ingest/route.ts
  src/app/api/social/linkedin/route.ts
  src/app/api/social/patreon/route.ts
  src/app/api/social/reddit/route.ts
  src/app/api/social/twitter/route.ts
  src/data/ingestion.ts
  src/lib/env.ts
  src/lib/ingest/index.ts
  src/lib/ingest/linkedin.ts
  src/lib/ingest/patreon.ts
  src/lib/ingest/reddit.ts
  src/lib/ingest/twitter.ts
  src/lib/ingest/types.ts
  src/lib/ingest/utils.ts
Due: bunx eslint --fix --max-warnings=0

fix
  bun.lock
  package.json
Due: bunx prettier --write

Update bun.lock
  bun.lock
Due: none

feat: persist posts with prisma
  .env.example
  package.json
  prisma/schema.prisma
  src/app/admin/edit/[id]/page.tsx
  src/app/admin/posts/page.tsx
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/components/admin/AdminTableActions.tsx
  src/data/posts.ts
  src/lib/env.ts
  src/lib/ingest/index.ts
  src/lib/prisma.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Harden server rendering for Vercel
  src/app/admin/layout.tsx
  src/app/admin/posts/page.tsx
  src/app/api/posts/route.ts
  src/app/api/subscribe/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/data/posts.ts
  src/lib/prisma.ts
Due: bunx eslint --fix --max-warnings=0

Harden admin and subscription flows
  prisma/schema.prisma
  src/app/api/admin/auth/route.ts
  src/app/api/posts/route.ts
  src/app/api/subscribe/route.ts
  src/data/storage.ts
  src/data/subscribers.ts
  src/lib/auth.ts
  src/lib/env.ts
  src/lib/rate-limit.ts
Due: bunx eslint --fix --max-warnings=0

(update) Bun install
  bun.lock
  package.json
Due: bunx prettier --write

(feat) Post add on
  .postman/config.json
  postman/globals/workspace.postman_globals.json
Due: bunx prettier --write

update
  bun.lock
  package.json
Due: bunx prettier --write

Bun update
  bun.lock
  package.json
Due: bunx prettier --write

chore: normalize prisma client setup
  src/data/posts.ts
  src/lib/prisma.ts
Due: bunx eslint --fix --max-warnings=0

(Feat): Test and eslint Install
  bun.lock
  package.json
  postman/collections/Next.js + Prisma + MongoDB - Local Testing.postman_collection.json
Due: bunx prettier --write

bun update
  bun.lock
  package.json
Due: bunx prettier --write

Revise README for Blog Platform overview and details
  README.md
Due: bunx prettier --write

(feat): Bun Updates
  bun.lock
  package.json
Due: bunx prettier --write

delete backend
  prisma/schema.prisma
Due: none

Path conditions:
  bunx eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  bunx prettier --write: any of: *.{json,md,mdx,css,scss,html}
