Repository Drakeze/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix --max-warnings=0, bunx prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["bunx eslint --fix --max-warnings=0"],
  "*.{json,md,mdx,css,scss,html}": ["bunx prettier --write"]
}

Add like button and admin likes analytics
  app/admin/page.tsx
  app/api/admin/likes/stats/route.ts
  app/api/likes/route.ts
  components/admin/likes-analytics.tsx
  components/comments-section.tsx
  components/like-button.tsx
  models/like.ts
Due: bunx eslint --fix --max-warnings=0

Add DEVLOG.md with session changelog
  DEVLOG.md
Due: bunx prettier --write

Fix ESLint errors in LikeButton component
  components/like-button.tsx
Due: bunx eslint --fix --max-warnings=0

Add PostHog analytics — instrumentation, event tracking, and Clerk identity
  .claude/skills/integration-nextjs-app-router/.posthog-wizard
  .claude/skills/integration-nextjs-app-router/SKILL.md
  .claude/skills/integration-nextjs-app-router/references/1-begin.md
  .claude/skills/integration-nextjs-app-router/references/2-edit.md
  .claude/skills/integration-nextjs-app-router/references/3-revise.md
  .claude/skills/integration-nextjs-app-router/references/4-conclude.md
  .claude/skills/integration-nextjs-app-router/references/EXAMPLE.md
  .claude/skills/integration-nextjs-app-router/references/identify-users.md
  .claude/skills/integration-nextjs-app-router/references/next-js.md
  .env.example
  app/(public)/unsubscribe/unsubscribe-card.tsx
  app/api/comments/route.ts
  app/api/newsletter/send/route.ts
  app/api/posts/route.ts
  app/api/subscribers/route.ts
  app/api/subscribers/unsubscribe/route.ts
  app/providers.tsx
  bun.lock
  components/bookmark-button.tsx
  components/comments-section.tsx
  components/like-button.tsx
  components/subscribe-form.tsx
  instrumentation-client.ts
  lib/posthog-server.ts
  next.config.ts
  package.json
  posthog-setup-report.md
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Add inline image insertion to post editor
  components/admin/post-editor.tsx
Due: bunx eslint --fix --max-warnings=0

template updates
  emails/comment-notification.tsx
  emails/newsletter.tsx
Due: bunx eslint --fix --max-warnings=0

Add BLOG_API_KEY server-to-server auth and a Blog MCP server
  app/api/comments/[id]/route.ts
  app/api/posts/[slug]/route.ts
  app/api/posts/draft/route.ts
  app/api/posts/route.ts
  app/api/subscribers/route.ts
  app/api/upload/route.ts
  lib/auth.ts
  mcp-server/bun.lock
  mcp-server/package.json
  mcp-server/src/index.ts
  mcp-server/tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Fix Vercel build failure by excluding mcp-server from Next.js typecheck
  bun.lock
  tsconfig.json
Due: bunx prettier --write

Consolidate lockfiles on Bun; ignore tooling scratch dirs
  .gitignore
  bun.lockb
  package-lock.json
Due: bunx prettier --write

Upgrade to Next.js 16
  bun.lock
  next-env.d.ts
  package.json
  proxy.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Security: close open image proxy and sanitize post HTML
  app/(public)/blog/[slug]/page.tsx
  bun.lock
  components/admin/post-editor.tsx
  lib/markdown.ts
  next.config.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Security + newsletter/analytics correctness
  app/api/comments/route.ts
  app/api/health/route.ts
  app/api/likes/route.ts
  app/api/newsletter/send/route.ts
  app/api/posts/[slug]/route.ts
  app/api/posts/draft/route.ts
  app/api/posts/route.ts
  app/api/subscribers/route.ts
  app/api/subscribers/unsubscribe/route.ts
  app/api/upload/route.ts
  bun.lock
  lib/auth.ts
  lib/email.ts
  lib/posthog-server.ts
  lib/utils.ts
  models/post.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Correctness: likes/comments/subscribe failure handling + indexes
  app/(public)/page.tsx
  app/api/admin/likes/stats/route.ts
  app/providers.tsx
  components/admin/likes-analytics.tsx
  components/admin/post-editor.tsx
  components/comments-section.tsx
  components/like-button.tsx
  components/subscribe-form.tsx
  package.json
  scripts/ensure-indexes.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

SEO + metadata + fonts + loading/error boundaries
  app/(public)/blog/[slug]/page.tsx
  app/(public)/error.tsx
  app/(public)/loading.tsx
  app/admin/error.tsx
  app/admin/loading.tsx
  app/feed.xml/route.ts
  app/globals.css
  app/icon.svg
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
  public/Minecraft Pfp 1.png
  public/pen.png
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Responsive admin nav + subscribers table; footer name
  app/(public)/layout.tsx
  app/admin/layout.tsx
  app/admin/subscribers/page.tsx
Due: bunx eslint --fix --max-warnings=0

Cleanup: fix stale AGENTS.md, relocate docs, drop dead config
  .env.example
  AGENTS.md
  bun.lock
  docs/DEVLOG.md
  docs/posthog-setup.md
  lib/env.ts
  package.json
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Fix: post pages 500 in prod — drop jsdom from the render path
  app/(public)/blog/[slug]/error.tsx
  app/(public)/blog/[slug]/page.tsx
  bun.lock
  lib/markdown.test.ts
  lib/markdown.ts
  lib/utils.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Fix: MongoDB unhandledRejection poisoning the serverless instance
  lib/mongo.test.ts
  lib/mongo.ts
Due: bunx eslint --fix --max-warnings=0

Fix: don't hit the DB during the build (feed.xml, sitemap)
  app/feed.xml/route.ts
  app/sitemap.ts
Due: bunx eslint --fix --max-warnings=0

Document the draft-push API, add newsletter/seed QoL, fix admin nav a11y, dedupe card/pill UI
  .gitignore
  AGENTS.md
  app/(public)/blog/[slug]/page.tsx
  app/admin/layout.tsx
  app/admin/newsletter/page.tsx
  app/admin/page.tsx
  app/admin/subscribers/page.tsx
  components/admin/admin-nav-link.tsx
  components/admin/likes-analytics.tsx
  components/admin/newsletter-send-form.tsx
  components/comments-section.tsx
  components/ui/card.tsx
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Add reading progress bar and related-posts section to blog posts
  app/(public)/blog/[slug]/page.tsx
  components/reading-progress.tsx
Due: bunx eslint --fix --max-warnings=0

Add a loud pre-write warning to the seed script
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0

Document the hardening pass in DEVLOG
  docs/DEVLOG.md
Due: bunx prettier --write

Fix admin page crash from unserializable icon props
  app/admin/layout.tsx
  components/admin/admin-nav-link.tsx
Due: bunx eslint --fix --max-warnings=0

Fix R2 uploads failing with SignatureDoesNotMatch
  app/api/upload/route.ts
Due: bunx eslint --fix --max-warnings=0

Surface R2 upload failures; unbreak CI; add R2 credential check
  .env.example
  app/api/upload/route.ts
  lib/email.ts
  scripts/verify-r2.ts
Due: bunx eslint --fix --max-warnings=0

Add env-var drift guardrails: verify-env, docs/ENV.md
  .env.example
  docs/ENV.md
  package.json
  scripts/verify-env.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Phase 1: fresh repo scaffold for the Thinking Out Loud rebuild
  .commitlintrc.json
  .env.example
  .gitignore
  .lintstagedrc
  .prettierrc
  AGENTS.md
  LICENSE
  README.md
  app/globals.css
  app/icon.svg
  app/layout.tsx
  app/page.tsx
  app/providers.tsx
  bun.lock
  components.json
  docs/ENV.md
  eslint.config.mjs
  instrumentation-client.ts
  lib/auth.ts
  lib/env.ts
  lib/errors.ts
  lib/markdown.test.ts
  lib/markdown.ts
  lib/mongo.test.ts
  lib/mongo.ts
  lib/posthog-server.ts
  lib/utils.ts
  next.config.ts
  package.json
  postcss.config.mjs
  proxy.ts
  scripts/verify-env.ts
  scripts/verify-r2.ts
  tsconfig.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Wire the R2 bucket 'blog' into config + env docs
  .env.example
  docs/ENV.md
  next.config.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Note the pending CI workflow commit
  README.md
Due: bunx prettier --write

Phase 1 tail: wire r2.dev bucket + point local env at blog_db_dev
  .env.example
  docs/ENV.md
  next.config.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Phase 2: models, indexes, Atlas Search, seed + migration scripts
  atlas/posts_search.json
  lib/search.ts
  models/bookmark.ts
  models/comment.ts
  models/email-log.ts
  models/like.ts
  models/mcp-action-log.ts
  models/post.ts
  models/subscriber.ts
  package.json
  scripts/ensure-indexes.ts
  scripts/ensure-search-index.ts
  scripts/migrate-content.ts
  scripts/migrate-images-to-r2.ts
  scripts/seed.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Phase 3b: admin shell — auth-gated layout, sidebar nav, Overview dashboard
  app/admin/layout.tsx
  app/admin/page.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  app/sign-up/[[...sign-up]]/page.tsx
  components/admin/admin-nav.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/separator.tsx
  components/ui/table.tsx
  components/ui/textarea.tsx
  lib/domains/stats/service.ts
Due: bunx eslint --fix --max-warnings=0

Phase 3b: posts admin — list, editor, cover upload, publish/slug/delete
  app/admin/posts/[slug]/page.tsx
  app/admin/posts/new/page.tsx
  app/admin/posts/page.tsx
  components/admin/post-editor.tsx
Due: bunx eslint --fix --max-warnings=0

Phase 3b: subscribers, newsletter, analytics admin
  app/admin/analytics/page.tsx
  app/admin/newsletter/page.tsx
  app/admin/page.tsx
  app/admin/subscribers/page.tsx
  app/api/newsletter/preview/route.ts
  app/api/subscribers/[id]/resend/route.ts
  app/api/subscribers/[id]/route.ts
  components/admin/bar-chart.tsx
  components/admin/newsletter-panel.tsx
  components/admin/subscribers-table.tsx
  lib/domains/stats/service.ts
  lib/domains/subscribers/service.ts
  lib/email/newsletter.ts
Due: bunx eslint --fix --max-warnings=0

Phase 5: site chrome + homepage
  app/(public)/layout.tsx
  app/(public)/page.tsx
  app/api/me/route.ts
  app/page.tsx
  bun.lock
  components/site/brandmark.tsx
  components/site/plate.tsx
  components/site/site-footer.tsx
  components/site/site-header.tsx
  components/site/theme-toggle.tsx
  lib/domains/posts/service.ts
  lib/site.ts
  next.config.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Phase 5: post page /[slug]
  app/(public)/[slug]/page.tsx
  components/site/post-end-block.tsx
  components/site/reading-progress.tsx
  components/site/subscribe-form.tsx
  lib/domains/posts/service.ts
Due: bunx eslint --fix --max-warnings=0

Phase 5: search, engagement, subscribe/bookmarks, Shiki
  app/(public)/[slug]/page.tsx
  app/(public)/bookmarks/page.tsx
  app/(public)/confirm/page.tsx
  app/(public)/search/page.tsx
  app/(public)/subscribe/page.tsx
  app/(public)/unsubscribe/unsubscribe-card.tsx
  app/api/likes/route.ts
  app/globals.css
  bun.lock
  components/site/bookmarks-list.tsx
  components/site/comments-section.tsx
  components/site/post-engagement.tsx
  components/site/search-client.tsx
  lib/domains/likes/service.ts
  lib/domains/likes/validators.ts
  lib/highlight.ts
  lib/site.ts
  package.json
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write

Phase 5 polish pass: static ISR, a11y, mobile
  app/(public)/[slug]/page.tsx
  app/(public)/bookmarks/page.tsx
  app/(public)/page.tsx
  app/(public)/tags/[tag]/page.tsx
  app/globals.css
  app/not-found.tsx
  components/site/post-list.tsx
  components/site/reading-progress.tsx
  components/site/site-header.tsx
  components/site/tag-bar.tsx
  lib/domains/posts/service.ts
  lib/highlight.ts
  proxy.ts
Due: bunx eslint --fix --max-warnings=0, bunx prettier --write
